{
  "extends": [],
  "plugins": ["requirejs"],
  "env": { //   Tell eslint that the project is running in the browser env, and
           // is using AMD (Asynchronous Module Definition) module format where
           // define, require, requirejs functions are predefined (by require.js)
      "amd": true,
      "browser": true
  },
  "globals": { // Tell the eslint these are the global variables
      "require": true,
      "requirejs": true,
      "define": true
  }
}