@import './antd.css';

.app {
  margin: 1rem !important;
  font-size: 1rem;
}

.footer-logo {
  width:  1rem;
}

.float-right {
  float: right;
}

.about {
  padding: 2rem;
  margin: auto;
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.19);
}

.about h1 {
  text-align: center;
  font-size: 2em;
}

.about p {
  font-size: 1.2rem;
}

.body {
  margin-bottom: 2rem;
}

.body>.logo {
  text-align: center;
  font-size: 4rem;
  color:  coral;
  font-family: 'Courier New';
  font-style: italic;
  font-weight: bold;
  display: block;
  padding: 1rem 0;
}

.monitor {
  margin: 5px 0px 5px 0px;
  font-size: 1.5rem;
  text-align: center;
}

.monitor-askings {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.monitor>label {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-bottom: 0.5rem;
}

.profile {
  display: inline-block;
  text-align: center;
  min-width: 1000px;
  border-radius: .3rem;
  border-width: 0.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);*/
  padding: 0 1rem;
}

.profile .question {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: flex;
}

.question>.ask {
  min-width: 30%;
  padding-right: 1rem;
  text-align: right;
}
.question>.answer {
  display: inline-flex;
}
.answer>input {
  margin-right: 2rem;
}

.profile .button>input {
  margin: 1rem .5rem;
  width: 8rem;
}

.profile .answer-comment  {
  margin-left: 1rem;
}





